<h1>  <%= @employee.first_name + " " + @employee.last_name %> </h1>
<%= image_tag @employee.img_url %>
<h3> <%= @employee.alias %></h3>
<h3> <%= @employee.title %></h3>
<h3> <%= @employee.office %></h3>
<h3> <%= @employee.dog.name %></h3>
